.splash {
	padding: 0 0 2em;
	background-attachment: fixed;
	text-align: center;
	background-color: #F6B442;
	color: #fff;
	h1 {
		font-size: 72px;
		font-weight: bolder;
	}
}

.progress {
	height: 30px;
	margin-left: 35px;
	margin-right: 35px;
}

#donate {
	font-size: 1.5em;
}

.text-black {
	color: #000;
}

body {
	background-color: #3BA4DA;
}

.row {
	h3 {
		line-height: 1.5;
	}
}

@media (max-width: 480px) {
	#donate {
		font-size: .7em;
	}
}

