<div class="col-xs-8 col-xs-offset-2 well text-black">
	<h3>Latest donation amount!</h3>
<<<<<<< HEAD
	<h4>Ð<%= @donations %> Thanks!</h4>
=======
	<h4>Ð<%= @amount0 %> Thanks!</h4>
>>>>>>> 6c2a61793dba55e01f731186f0b7f445594b6662
</div>