<div class="panel-heading" id="accordion">
	<h4 class="panel-title">
		<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Click for QR Code</a>
	</h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse">
	<div class="panel-body">
<<<<<<< HEAD
		<img src="/assets/qr_code.png" width="200px">
=======
		<img src="/assets/qr_code.gif" width="200px">
>>>>>>> 6c2a61793dba55e01f731186f0b7f445594b6662
	</div>
</div>